TELEGRAM_TOKEN="<YOU TELEGRAM BOT TOKE>"
CHATGPT_SESSION_TOKEN="<YOUR CHATGPT SESSION ID>"  # find it in chatgpt.openai.com cookies (key: "__Secure-next-auth.session-token")
ALLOWED_TELEGRAM_USERNAMES="<@USERNAME>"  # can be empty string "" to allow any users; to add multiple users: "@USERNAME_1,@USERNAME_1"